p, html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  color: black;
  margin: 0;
  padding: 0;
}

img {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}