.body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.9vmin;
}

.list {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list0 {
    background-color: rgb(233, 233, 233);
}



p {
    cursor: pointer;
}

.optionsBox {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}