@font-face {
  font-family: "Hak";
  font-weight: normal;
  src: url("./fonts/HakgyoansimJiugaeR.ttf");
}

@font-face {
  font-family: "TAE";
  font-weight: normal;
  src: url("./fonts/TAEBAEK font.ttf");
}

@font-face {
  font-family: "SUITE";
  font-weight: normal;
  src: url("./fonts/SUITE-Light.ttf");
}

@font-face {
  font-family: "Noto";
  font-weight: bold;
  src: url("./fonts/NotoSansKR-VariableFont_wght.ttf");

}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  user-select: none;

}

body {
  background-color: #ffffff;
}

p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

div, input {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  color: black;
  margin: 0;
  padding: 0;
}

img {
  cursor: pointer;
}
