.body {
    width: 60rem;
    margin: 0 auto;
    z-index:  -1;
}

.menus {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.menus > .menu {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.results {
    margin-top: 1rem;
}

.results > .resultName {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.results > .resultList {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lists {
    display: flex;
    flex-direction: column;
    height: 9rem;
    line-height: 1rem;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 1rem;
    overflow-y: auto;
}

.lists::-webkit-scrollbar-corner {
    border-radius: 1rem;
}

.lists > .list {
    border-bottom: 1px solid gray;
    padding: 0.5rem 0.5rem;
}