.body {
    width: 60rem;
    height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 6rem;
    font-family: "Hak", serif;
}

.context {
    width: 90%;
    margin: 1rem auto;

}

.context > p {
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.context > p > img {
    width: 1.5rem;
    height: 1.5rem;
}

.context > div {
    display: flex;
    gap: 3rem;
}

.context > div > img {
    width: 10rem;
    height: 15rem;
}

.context td {
    width: 8rem;
}

.context td:nth-child(odd) {
    background-color: gray;
}

.loan {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
}

.manyLoan, .keyword {
    width: 90%;
    margin: 1rem auto;
    border: 1px solid black;
}

.loan > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
}

.chartName, .dataName {
    font-weight: bold;
    font-size: 1.5rem;
}

.dataName {
    border-top: 1px solid gray;
}

.dataTable {
    width: 100%;
    margin-top: 1rem;
}

.dataTable > tr > td {
    text-align: center;
}

.recommendBox {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
}

.recommendBox img {
    border-radius: 100%;
}