.body {
    width: 80rem;
    height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 6rem;
    font-family: "Hak", serif;
}

.context {

}

.context > div {
    display: flex;
    gap: 3rem;
}

.context  img {
    width: 10rem;
    height: 15rem;
}

.context td {
    width: 8rem;
}

.context td:nth-child(odd) {
    background-color: gray;
}