.body {
    width: 100%;
    height: 100%;
    background-color: #a4c1fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBox {
    width: 30rem;
    height: 30rem;
    background-color: #c2ffb9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameBox {
    position: relative;
    width: 20rem;
    height: 3rem;
    display: flex;
}

.name {
    position: absolute;
    left: 1rem;
    line-height: 3rem;
    color: gray;
}

.editName {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2rem;
    padding-left: 3.5rem;
    line-height: 3rem;
}

