.body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logoBox {
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5vmin;
    font-weight: bold;
}

.logoBox > img {
    width: 20rem;
    height: 8rem;
}

.inputBox {
    width: 80%;
    height: 3.5rem;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    margin-top: 1rem;
}

.inputBox > input {
    box-sizing: border-box;
    width: 100%;
    height: 3.4rem;
    padding: 0.7rem 0.5rem 0.3rem 0.5rem;
    border: 0;
    transition: border 0.5ms ease;
}

.inputBox > input:focus {
    outline: none;
    border: 1px solid #0055ff;
}

.focusInput::placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.inputBox > p {
    height: 0.1rem;
    font-size: 13px;
    position: absolute;
    left: 0.4rem;
    color: gray;
    transition: opacity 0.5s ease;
}

.inputBox > img {
    margin-right: 1rem;
    border-radius: 50%;
    opacity: 0;
    border: 1px solid black;
    padding: 0.5rem;
    transition: opacity 0.5s ease;
    position: absolute;
    right: 0;
    top: 20%;
}

.buttonBox {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.planeText {
    padding: 0.2rem 0.5rem;
    font-size: 1.5vmin;
}

.button {
    padding: 0.3rem 1rem;
    border: 1px solid gray;
    border-radius: 2rem;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    border: 1px solid #0057ff;
    transition: border 0.5s ease;
}