.body {
    width: 100%;
}

.section {
    width: 60rem;
    margin: 0 auto;
}

.mainBookBox {
    width: 100%;
    height: 30rem;
    border: 1px solid gray;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.typeBox {
    font-family: "Noto", sans-serif;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    width: 10rem;
    justify-content: center;
}

.typeBox > div {
    width: 100%;
}

.typeBox > div:hover {
    background-color: #a4c1fc;
}

.viewBox {
    font-family: "Noto", sans-serif;
    position: relative;
    width: calc(100% - 10rem);
}

.viewBox > div {

}

.viewBox > .top {
    height: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.viewBox > .top > img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.viewBox > .middle {
    box-sizing: border-box;
    height: calc(30rem - 4rem);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.viewBox > .bottom {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.viewBox > .bottom > img {
    width: 3rem;
    height: 1rem;
}

.leftImg, .rightImg {
    position: absolute;
    width: 2rem;
    height: 2rem;
}

.leftImg {
    top: 50%;
    left: 0;
}

.rightImg {
    top: 50%;
    right: 0;
}