.bodyStyle {
    width: 60rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    overflow: hidden;
}

.searchBox {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width: 20rem;
    border-radius: 2rem;
    background-color: white;

}

.searchBox > select {
    height: 100%;
    border: 0;
    width: 4rem;
    border-radius: 2rem;
    margin-left: 0.5rem;
}

.searchBox > select:focus, input:focus {
    outline: none;
}

.searchBox > input {
    border: 0;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(20rem - 7rem - 1.5rem);
}

.namugeStyle  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    height: 6rem;
}

.jungangStyle  {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: "Hak", serif;
}

.blockStyle {
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}