.body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.body > .popup {
    width: 50rem;
    height: 50rem;
    padding: 1rem;
    background-color: white;
    overflow: auto;
}

.body > .popup > .searchBox {
    width: 100%;
}

.body > .popup > .searchBox > .search {
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
}

.body > .popup > .selectBox {

}

.body > .popup > .selectBox > div {
    border: 1px solid gray;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.body > .popup > .selectBox > div:hover {
    background-color: #a4c1fc;
}