.body {
    width: 100%;
    overflow: hidden;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.authors {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img {
    width: 100%;
    border-radius: 2rem;
}