<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.yju.bookscovery.dao.KeywordMapper">-->
<!--    <select id="count" resultType="int">-->
<!--        select count(*) from keyword-->
<!--    </select>-->

<!--    <select id="selectAll" resultType="KeywordDto">-->
<!--        select * from keyword-->
<!--    </select>-->

<!--    <select id="selectOne" parameterType="String" resultType="KeywordDto">-->
<!--        select * from keyword-->
<!--        where keyword = #{keyword}-->
<!--    </select>-->

<!--    <insert id="insert" parameterType="String">-->
<!--        insert into keyword-->
<!--        values (#{keyword})-->
<!--    </insert>-->

<!--    <update id="update" parameterType="map">-->
<!--        update keyword set keyword = #{modKeyword}-->
<!--        where keyword = #{keyword}-->
<!--    </update>-->

<!--    <delete id="deleteAll">-->
<!--        delete from keyword-->
<!--    </delete>-->

<!--    <delete id="deleteOne" parameterType="String">-->
<!--        delete from keyword-->
<!--        where keyword = #{keyword}-->
<!--    </delete>-->

<!--</mapper>-->