<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yju.bookscovery.dao.FavoriteMapper">
    <select id="countByMember" resultType="int">
        select count(*) from favorite
        where member_id = #{member_id}
    </select>

    <select id="selectOne" parameterType="Integer" resultType="FDto">
        select * from favorite
        where favorite_id = #{favorite_id}
    </select>

    <select id="selectAll" parameterType="Integer" resultType="FDto">
        select * from favorite
        where member_id = #{member_id}
    </select>

    <insert id="insert" parameterType="FDto">
        insert into favorite
        values (null,#{member_id},#{book_id},now())
    </insert>

    <delete id="deleteAllByMember" parameterType="Integer">
        delete from favorite
        where member_id = #{member_id}
    </delete>

    <delete id="deleteOne" parameterType="Integer">
        delete from favorite
        where favorite_id = #{favorite_id}
    </delete>



</mapper>