<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yju.bookscovery.dao.MemberMapper">
    <select id="selectAll" resultType="MemberDto">
        select * from member_info
        order by member_id desc
    </select>

    <select id="selectOne" parameterType="Integer" resultType="MemberDto">
        select * from member_info
        where member_id = #{member_id}
    </select>

    <select id="selectAllByDepartment" parameterType="Integer" resultType="MemberDto">
        select * from member_info
        where department_id = #{department_id}
    </select>

    <select id="count" resultType="int">
        select count(*) from member_info
    </select>

    <select id="selectOneById" parameterType="String" resultType="MemberDto">
        select * from member_info
        where id = #{id}
    </select>

    <insert id="insert" parameterType="MemberDto">
        insert into member_info
        values (null,#{name},#{gender},#{age},#{department_id},#{id},#{password},#{password_key},#{email},#{mode})
    </insert>

    <update id="update" parameterType="MemberDto">
        update member_info set name = #{name}, gender = #{gender}, age = #{age}, department_id = #{department_id},
                         password = #{password}, password_key = #{password_key}, email = #{email}, mode = #{mode}
        where member_id = #{member_id}
    </update>

    <delete id="deleteAll">
        delete from member_info
    </delete>

    <delete id="deleteOne" parameterType="Integer">
        delete from member_info
        where member_id = #{member_id}
    </delete>

</mapper>