<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yju.bookscovery.dao.RecommandBookMapper">
    <select id="selectAll" resultType="RBDto">
        select * from recommand_book
    </select>

    <select id="selectOne" parameterType="map" resultType="RBDto">
        select * from recommand_book
        where recommand_id = #{recommand_id} and member_id = #{member_id}
    </select>

    <insert id="insert" parameterType="RBDto">
        insert into recommand_book
        values (null, #{member_id}, #{field2}, #{updateDate})
    </insert>

    <delete id="deleteAll">
        delete from recommand_book
    </delete>

    <delete id="deleteOne" parameterType="map">
        delete from recommand_book
        where recommand_id = #{recommand_id} and member_id = #{member_id}
    </delete>



</mapper>